* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url(images/patt.png);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.slider-wrap {
  height: 400px;
  background-color: #235a93;
  opacity: 75%;
}

.row {
  display: flex;
  margin: 0 -15px;
}

[class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

.col-3 {
  max-width: 25%;
  flex: 0 0 25%;
}

.col-4 {
  max-width: 33%;
  flex: 0 0 33%;
}

.col-6 {
  max-width: 50%;
  flex: 0 0 50%;
}

.col-8 {
  max-width: 66%;
  flex: 0 0 66%;
}

.col-9 {
  max-width: 75%;
  flex: 0 0 75%;
}

.header {
  display: flex;
  height: 100px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);
}

.menu {
  display: flex;
}

.menu > li {
  width: 25%;
  border-left: 1px solid #2c71b8;
}

.menu li:last-child {
  border-right: 1px solid #2c71b8;
}

.menu a {
  display: block;
  height: 50px;
  text-decoration: none;
  color: #2c71b8;
  text-align: center;
  line-height: 50px;
  font-size: 21px;
}

.menu a:hover {
  background-color: #2c71b8;
  color: white;
}

.submenu {
  position: absolute;
  width: 285px;
  background-color: #2c71b8;
  padding-top: 15px;
  padding-bottom: 15px;
  display: none;
  left: -1px;
}

.submenu a {
  display: block;
  height: 40px;
  text-decoration: none;
  color: white;
  text-align: left;
  line-height: 40px;
  font-size: 21px;
  padding-left: 28px;
}

.submenu a:hover {
  background-color: white;
  color: #2c71b8;
}

.products-item {
  position: relative;
}

.products-item:hover .submenu {
  display: block;
  z-index: 10;
}

.products-link:after {
  content: "";
  background-image: url(images/blue_arrow_icon.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 20px;
  height: 20px;
  background-position: 4px;
  top: 16px;
}

aside {
  padding-top: 25px;
}

.filter-type {
  margin-bottom: 50px;
}

.filter-title {
  color: white;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
}

.checkbox {
  color: white;
  font-size: 21px;
  padding: 6px;
}

label {
  cursor: pointer;
  color: white;
  position: relative;
  padding-left: 25px;
}

label:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid white;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 5px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + label:before {
  background-color: white;
}

h3 {
  color: white;
  margin-bottom: 15px;
  margin-top: -30px;
  font-size: 21px;
  text-align: center;
}

.btn-submit {
  color: white;
  background-color: #2c71b8;
  cursor: pointer;
  border: 1px solid white;
  width: 210px;
  height: 50px;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 15px 10px 0px 10px;
}

h2 {
  color: white;
  font-size: 21px;
  font-weight: bold;
}

h1 {
  color: white;
  font-size: 48px;
  font-weight: bold;
}

.breadcrumbs {
  margin-top: 20px;
  margin-bottom: 15px;
}

.breadcrumbs li {
  float: left;
}

.breadcrumbs > ul:after {
  content: "";
  display: block;
  clear: both;
}

.breadcrumbs li:last-child {
  text-decoration: underline;
}

.breadcrumbs a {
  display: block;
  text-align: left;
  color: #96b8dc;
  text-decoration: none;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
}

.product-sort {
  width: 268px;
  border: 1px solid white;
  background-color: #2c71b8;
  position: relative;
  margin-bottom: 50px;
}

.product-sort a {
  display: block;
  height: 40px;
  text-align: left;
  line-height: 40px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}

.product-sort a:hover {
  background-color: white;
  color: #2c71b8;
}

.product-sort-list {
  display: none;
  position: absolute;
  border: 1px solid white;
  background-color: #2c71b8;
  width: 268px;
  left: -1px;
  z-index: 2;
}

.product-sort-list li > a:hover {
  background-color: white;
  color: #2c71b8;
}

.product-sort li:hover .product-sort-list {
  display: block;
}

.sort_by_price:after {
  content: "";
  background-image: url(images/arrow_down_icon.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 20px;
  height: 20px;
  background-position: 4px;
  top: 12px;
  left: 230px;
}

.search {
  position: relative;
  height: 40px;
  margin-top: 5px;
}

input {
  height: 40px;
  border: 1px solid #2c71b8;
  padding: 4px 36px 4px 18px;
  width: 100%;
  font-size: 21px;
  outline: none;
  color: #2c71b8;
}

::placeholder {
  color: #2c71b8;
  font-size: 21px;
}

.search-button {
  background-color: #2c71b8;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 4px;
  right: 4px;
  border: none;
}

.cart {
  background-color: white;
  position: relative;
  width: 40px;
  height: 40px;
  padding: 10px;
  margin-top: 5px;
  cursor: pointer;
}

.product-count {
  background-color: #2c71b8;
  border-radius: 50%;
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 5px;
  top: -10px;
  left: -6px;
  font-size: 12px;
  text-align: center;
  color: white;
}

.product-img {
  background-color: #cadbed;
  width: 267px;
  height: 180px;
  text-align: center;
  position: relative;
}

.product-img > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.zoom,
.like {
  border: 1px solid #548cc5;
  width: 30px;
  height: 30px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: 4px;
  cursor: pointer;
}

.zoom {
  top: 10px;
  right: 10px;
  padding: 4px;
  background-image: url(images/zoom.png);
}
.zoom:hover {
  background-image: url(images/zoom-white.png);
  background-color: #2c71b8;
}

.like {
  top: 50px;
  right: 10px;
  padding: 5px;
  background-image: url(images/like.png);
}
.like:hover {
  background-image: url(images/like-white.png);
  background-color: #2c71b8;
}

.product-title {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.product-features > span {
  font-size: 21px;
  font-weight: bold;
  color: white;
  padding-top: 15px;
  text-transform: uppercase;
}

.product-description,
.product-features {
  font-size: 21px;
  color: white;
  font-weight: normal;
  padding-top: 15px;
}

.product-price {
  font-size: 48px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-top: 15px;
}

.product-price > span {
  vertical-align: super;
  font-size: 25px;
}

.btn {
  width: 210px;
  height: 50px;
  color: white;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 15px 10px 0px 10px;
  background-color: #2c71b8;
  border: 1px solid white;
  cursor: pointer;
}
.btn:hover {
  background-color: #568dc6;
  border: 1px solid transparent;
}

.product-body {
  border: 1px solid white;
  padding: 15px 15px 30px 15px;
}

.product {
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn-add-to-cart {
  background-image: url(images/bascket-white.png);
  background-repeat: no-repeat;
  background-position: 95%;
}
